.navbar {
  display: flex;
  padding: 15px 30px;
  justify-content: flex-end;
  background-color: black;
  color: white;
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    li {
      &:hover {
        color: blue;
        cursor: pointer;
      }
    }
    button {
      background-color: black;
      color: white;
      border: 1px solid white;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      &:hover {
        color: blue;
        border-color: blue;
        cursor: pointer;
      }
    }
  }
}
