.users {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .users__description {
    h2,
    p {
      margin-bottom: 1rem;
    }
  }
  .users__type__btn {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  table,
  th,
  td {
    border-collapse: collapse;
    text-align: center;
  }
  .users__table {
    th {
      text-transform: uppercase;
      background-color: black;
      color: white;
      padding: 0.5rem;
    }
  }
}
